In [2]:
import pandas as pd

In [30]:
#Data Mining
df = pd.read_csv('emplo.csv')

In [31]:
#Data Preprocessing
df.head(1)

   Company    Job    Degree  Salary
0  Infosys  Sales  Graduate  <50000

In [32]:
x = df.drop('Salary', axis='columns')

In [33]:
y = df['Salary']

In [34]:
from sklearn.preprocessing import LabelEncoder

Company_l = LabelEncoder()
Job_l = LabelEncoder()
Degree_l = LabelEncoder()

In [35]:
x['Company_1'] = Company_l.fit_transform(x['Company'])

In [36]:
x['Job_E'] = Job_l.fit_transform(x['Job'])

In [37]:
x['Degree_E'] = Degree_l.fit_transform(x['Degree'])

In [38]:
x

    Company        Job     Degree  Company_1  Job_E  Degree_E
0   Infosys      Sales   Graduate          0      2         0
1   Infosys      Sales  Post Grad          0      2         1
2   Infosys  Developer   Graduate          0      0         0
3   Infosys  Developer  Post Grad          0      0         1
4   Infosys    Manager   Graduate          0      1         0
5   Infosys    Manager  Post Grad          0      1         1
6     Wipro      Sales   Graduate          2      2         0
7     Wipro  Developer   Graduate          2      0         0
8     Wipro  Developer  Post Grad          2      0         1
9     Wipro    Manager  Post Grad          2      1         1
10      TCS      Sales   Graduate          1      2         0
11      TCS      Sales  Post Grad          1      2         1
12      TCS  Developer   Graduate          1      0         0
13      TCS  Developer  Post Grad          1      0         1
14      TCS    Manager   Graduate          1      1         0
15      TCS    Manager  Post Grad          1      1         1

In [39]:
y

0     <50000
1     >50000
2     <50000
3     >50000
4     <50000
5     >50000
6     <50000
7     <50000
8     >50000
9     >50000
10    <50000
11    >50000
12    >50000
13    >50000
14    >50000
15    >50000
Name: Salary, dtype: object

In [41]:
y.replace({'<50000':0, '>50000':1}, inplace=True)

In [42]:
y

0     0
1     1
2     0
3     1
4     0
5     1
6     0
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
15    1
Name: Salary, dtype: int64

In [43]:
x1 = x.drop(['Company', 'Job', 'Degree'], axis='columns')

In [46]:
x1.head(1)

   Company_1  Job_E  Degree_E
0          0      2         0

In [47]:
#ML Model
from sklearn import tree

model = tree.DecisionTreeClassifier()

In [50]:
#Training

model.fit(x1, y)

DecisionTreeClassifier()

In [52]:
model.score(x1,y)

1.0

In [54]:
model.predict([[2, 1, 0]])

C:\Users\s_nas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)