In [10]:
import mysql.connector as msq

conn = msq.connect(host='localhost', user='root', password='nashit')
print('connection established')

connection established

In [11]:
cur = conn.cursor()

In [4]:
cur.execute('create database kanpur')
print('database created succesfully')

database created succesfully

In [12]:
a = cur.execute('show databases')

In [13]:
a

In [14]:
cur

In [15]:
for i in cur:print(i)

('allahabad',)
('damodar',)
('information_schema',)
('kanpur',)
('mukesh',)
('mydatabase',)
('mysql',)
('nashit',)
('patna',)
('performance_schema',)
('ranjit',)
('sys',)

In [16]:
import mysql.connector as msq
conn = msq.connect(host='localhost', user='root', password='nashit', database='kanpur')
print('connected')

connected

In [17]:
cur = conn.cursor()
print('cursor successful')

cursor successful

In [18]:
cur.execute('show tables')
for i in cur:print(i)

In [19]:
print(cur)

CMySQLCursor: show tables

In [21]:
cur.execute('create table students(name varchar(50), mail varchar(50))')
print('table created')

table created

In [22]:
cur.execute('show tables')
for i in cur:print(i)

('students',)

In [23]:
cur

In [24]:
cur.execute('alter table students add column adit_id varchar(20) primary key')
print('added successfully')

added successfully

In [25]:
cur.execute("insert into students values('nashit', 'nashit@hotmail.cccom', 'AD001')")
conn.commit()

In [26]:
val = ('mukesh', 'mk@abc.com', 'AD0002')
quer = "insert into students values(%s, %s, %s)"
cur.execute(quer,val)
conn.commit()

In [28]:
vals = [('ranjit', 'ranj@qqw.com', 'AD003'), 
        ('damodar', 'dam@av.com', 'AD004'),
        ('smriti', 'sm@abc.com', 'AD005')]

In [38]:
cur.executemany(quer,vals)
conn.commit()

IntegrityError: 1062 (23000): Duplicate entry 'AD003' for key 'students.PRIMARY'

In [50]:
cur.execute("select * from students")
res = cur.fetchall()
for i in res:print(i)

InternalError: Unread result found

In [47]:
res = cur.fetchone()
print(res)

('ranjit', 'ranj@qqw.com', 'AD003')