In [1]:
#this is to create a new Class
class Students:
    pass

In [2]:
#this is to create objects
a = Students()
b = Students()
c = Students()

In [6]:
a.name = 'Hanuman'
a.phone = 9876543210
a.age = 19

In [7]:
b.name = 'Mukesh'
b.phone = 9876553210
b.age = 18

In [8]:
print(a.age)

19

In [76]:
class ADIT:
    
    def __init__(self, name, age, location):
        self.name = name
        self.age = age
        self.location = location
        self.stipend = 3000
        self.subject = ['HTML', 'css', 'php']
        self.email = name+'.'+location+'@gmail.com'
        self.tax = 0.1*3000
        
    def abc(self):   #Inhertience
        return '{} {}'.format(self.name, self.age)
    
    def increment(self):
        self.stipend = int(self.stipend *0.14 + self.stipend)

In [77]:
a1 = ADIT('AMbika', 18, 'Allahabad')
a2 = ADIT('Anjali', 19, 'Allahabad')
a3 = ADIT('Sakshi', 19, 'Allahabad')
a4 = ADIT('Vinod', 19, 'Kanpur')
a5 = ADIT('Sonali', 19, 'Kanpur')
a6 = ADIT('Nirmal', 18, 'Dehradun')

In [78]:
ADIT.abc(a3)

'Sakshi 19'

In [79]:
a1.stipend

3000

In [51]:
print('{} {} {}'.format(a1.name, a1.email, a1.stipend))

AMbika AMbika.Allahabad@gmail.com 3000

In [26]:
a6.location

'Dehradun'

In [27]:
a4.age

19

In [28]:
a2.stipend

3000

In [31]:
a1.subject[1]

'css'

In [35]:
a1.email

'AMbika.Allahabad@gmail.com'

In [36]:
a2.email

'Anjali.Allahabad@gmail.com'

In [37]:
a3.email

'Sakshi.Allahabad@gmail.com'

In [38]:
a4.email

'Vinod.Kanpur@gmail.com'

In [93]:
class Patna:
    def __init__(self, name, Designation, Salary):
        self.name = name
        self.post = Designation
        self.pay = Salary
        self.tax = Salary * 0.12
    def increment(self): #method
        self.pay = int(self.pay*0.14 + self.pay)

In [94]:
p1 = Patna('Rahul', 'HR', 52360)
p2 = Patna('Anil', 'Operatuions', 39852)

In [89]:
p2.tax

4782.24

In [90]:
p2.pay

39852

In [91]:
p2.increment()

In [92]:
p2.pay

45431

In [96]:
for x in (a1, p2):print(x.name)

AMbika
Anil