In [6]:
import mysql.connector

mydatabase = mysql.connector.connect(host='localhost', user = 'root', password = 'nashit')
print(mydatabase)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002E04DDA7F10>

In [7]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit')

mydbs = conn.cursor()
mydbs.execute('create database ranjit')
print('database created succefully!')

database created succefully!

In [9]:
mydbs.execute('show databases')
for x in mydbs:print(x)

InternalError: Unread result found

In [11]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit')

mydbs = conn.cursor()
mydbs.execute('show databases')

for x in mydbs:print(x)

('allahabad',)
('damodar',)
('information_schema',)
('mukesh',)
('mydatabase',)
('mysql',)
('nashit',)
('patna',)
('performance_schema',)
('ranjit',)
('sys',)

In [1]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit', database='ranjit')
mydbs = conn.cursor()
mydbs.execute('show tables')

for x in mydbs:print(x)

In [2]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit', database='ranjit')
mydbs = conn.cursor()

mydbs.execute('create table students(roll int auto_increment primary key, name varchar(40), phone varchar(40))')
print('table created successfully')

table created successfully

In [3]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit', database='ranjit')
mydbs = conn.cursor()

mydbs.execute('alter table students add column email varchar(40)')

In [4]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit', database='ranjit')
mydbs = conn.cursor()

mydbs.execute('alter table students add column adhar varchar(12)')
print('table updated successfully')

table updated successfully

In [5]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit', database='ranjit')
mydbs = conn.cursor()
mydbs.execute('create table nsti(name varchar(40), age int, email varchar(40))')
print('table created successfully')

table created successfully

In [10]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit', database='ranjit')
mydbs = conn.cursor()
a = 'insert into nsti(name, age, email) values(%s, %s, %s)'
b = ('Nashit', 25, 'nashit@hotmail.com')
mydbs.execute(a, b)
conn.commit()

print('data inserted successfully')

data inserted successfully

In [14]:
c = ('Mukesh', 18, 'mukesh@gmail.com'),('Damodar', 22, 'damodar@gmail.com'),('Ranjit', 20, 'ranjit@gmail.com')
mydbs.executemany(a, c)

conn.commit()
print('data inserted successfully')

data inserted successfully

In [26]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit', database='ranjit')
mydbs = conn.cursor()

while True:
    e = input('enter your name')
    f = int(input('enter age'))
    g = input('enter your email')

    query ="insert into nsti values('{}',{},'{}')".format(e, f, g)
    mydbs.execute(query)
    conn.commit()
    
    print('inserted successfully')
    
    x = int(input('1 -> Enter more data \n 2 -> Exit \n Enter your Choice'))
    if x == 2:
        break

enter your nameabcd
enter age20
enter your emailabc@vsc
inserted successfully
1 -> Enter more data
 2 -> Exit
 Enter your Choice2

In [1]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit', database='ranjit')
mydbs = conn.cursor()
a = "insert into nsti(name, age, email) values('Sanjay', 20, 'sanjay@gmail.com')"
#b = ('Nashit', 25, 'nashit@hotmail.com')
mydbs.execute(a)
conn.commit()

print('data inserted successfully')

data inserted successfully

In [2]:
import mysql.connector as ms

conn = ms.connect(host='localhost', user = 'root', password = 'nashit', database='ranjit')
mydbs = conn.cursor()
#a = "insert into nsti(name, age, email) values('Sanjay', 20, 'sanjay@gmail.com')"
#b = ('Nashit', 25, 'nashit@hotmail.com')
mydbs.execute("insert into nsti(name, age, email) values('Shivam', 20, 'shivam@gmail.com')")
conn.commit()

print('data inserted successfully')

data inserted successfully

In [5]:
import mysql.connector as abc

conn = abc.connect(host='localhost', user = 'root', password='nashit', database = 'ranjit')
cur = conn.cursor()

while True:
    a = input('enter your name: ')
    b = int(input('enter your age: '))
    c = input('enter your email : ')

    query = "insert into nsti values('{}', {}, '{}')".format(a, b, c)

    cur.execute(query)
    conn.commit()
    print('data inserted successfully')
    
    d = int(input('1 -> Enter More \n2-> Exit\nEnter your preference'))
    if d == 2:break

enter your name: ambika
enter your age: 19
enter your email : ambika@abc.com
data inserted successfully
1 -> Enter More
2-> Exit
Enter your preference1
enter your name: mukesh
enter your age: 26
enter your email : mukesh@abc.com
data inserted successfully
1 -> Enter More
2-> Exit
Enter your preference2

In [6]:
import mysql.connector as abc

conn = abc.connect(host='localhost', user = 'root', password='nashit', database = 'ranjit')
cur = conn.cursor()


a = input('enter your name: ')
b = int(input('enter your age: '))
c = input('enter your email : ')
query = "insert into nsti values('{}', {}, '{}')".format(a, b, c)

cur.execute(query)
conn.commit()
print('data inserted successfully')

enter your name: shmshad
enter your age: 19
enter your email : sham@g
data inserted successfully

In [9]:
import mysql.connector as abc

conn = abc.connect(host='localhost', user = 'root', password='nashit', database = 'ranjit')
cur = conn.cursor()

while True:
    a = input('enter your name: ')
    b = int(input('enter your age: '))
    c = input('enter your email : ')

    query = "insert into nsti values('{}', {}, '{}')".format(a, b, c)

    cur.execute(query)
    conn.commit()
    print('data inserted successfully')
    
    d = int(input('1-> more entries\n2-> exit\nEnter your choice: '))
    if d == 2:break

enter your name: a
enter your age: 52
enter your email : lk
data inserted successfully
1-> more entries
2-> exit
Enter your choice: 1
enter your name: i
enter your age: 3
enter your email : ihvb
data inserted successfully
1-> more entries
2-> exit
Enter your choice: 2

In [10]:
#static data

import mysql.connector as abc

conn = abc.connect(host='localhost', user = 'root', password='nashit', database = 'ranjit')
cur = conn.cursor()

cur.execute("insert into nsti values('damodar', 25, 'dam@g.com')")
conn.commit()
print('inserted')

inserted

In [16]:
#dynamic data
import mysql.connector as abc

conn = abc.connect(host='localhost', user = 'root', password='nashit', database = 'ranjit')
cur = conn.cursor()
dataset = [('nashit', '25', 'nas@g.com'), ('mukesh', 23, 'm@a.com'), ('gvg', 23, 'yfcrf')]
cur.executemany("insert into nsti values(%s,%s,%s)", dataset)
conn.commit()
print('inserted')

inserted

In [22]:
query = 'select * from nsti'
cur.execute(query)
data = cur.fetchall()
for x in data:print(x)

In [20]:
query = "select * from nsti where name='mukesh' "
cur.execute(query)
data = cur.fetchall()
for x in data:print(x)

('mukesh', 23, 'm@a.com')
('mukesh', 23, 'm@a.com')
('mukesh', 23, 'm@a.com')

In [ ]:
#query = 'truncate table nsti'
import mysql.connector as abc

conn = abc.connect(host='localhost', user = 'root', password='nashit', database = 'ranjit')
cur = conn.cursor()

cur.execute('truncate table nsti')

print('truncated')

In [1]:
import mysql.connector as abc

conn = abc.connect(host='localhost', user = 'root', password='nashit', database = 'ranjit')
cur = conn.cursor()

In [2]:
cur.execute("insert into nsti values('damodar', 25, 'dam@g.com')")
print('inserted')

inserted

In [3]:
query = 'select * from nsti'
cur.execute(query)
data = cur.fetchall()
for x in data:print(x)

('damodar', 25, 'dam@g.com')