In [1]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [2]:
df = sns.load_dataset('diamonds')

In [3]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [4]:
penguins = sns.load_dataset('penguins')
print(penguins.head())

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    Male
1       3800.0  Female
2       3250.0  Female
3          NaN     NaN
4       3450.0  Female

In [5]:
from pandasql import sqldf
import pandas as pd

In [6]:
print(sqldf('''SELECT species, island 
FROM penguins 
LIMIT 5'''))

  species     island
0  Adelie  Torgersen
1  Adelie  Torgersen
2  Adelie  Torgersen
3  Adelie  Torgersen
4  Adelie  Torgersen

In [7]:
print(type(sqldf('''SELECT species, island 
                      FROM penguins 
                     LIMIT 5''')))

<class 'pandas.core.frame.DataFrame'>

In [8]:
print(penguins[['species', 'island']].head())

  species     island
0  Adelie  Torgersen
1  Adelie  Torgersen
2  Adelie  Torgersen
3  Adelie  Torgersen
4  Adelie  Torgersen

In [9]:
print(penguins['species'].unique())

['Adelie' 'Chinstrap' 'Gentoo']

In [10]:
print(sqldf('''SELECT body_mass_g 
                 FROM penguins 
                ORDER BY body_mass_g DESC 
                LIMIT 5'''))

   body_mass_g
0       6300.0
1       6050.0
2       6000.0
3       6000.0
4       5950.0

In [11]:
print(penguins['body_mass_g'].sort_values(ascending=False, 
ignore_index=True).head())

0    6300.0
1    6050.0
2    6000.0
3    6000.0
4    5950.0
Name: body_mass_g, dtype: float64

In [12]:
print(sqldf('''SELECT DISTINCT species
                 FROM penguins 
                WHERE sex = 'Male' 
                  AND flipper_length_mm > 210'''))

     species
0  Chinstrap
1     Gentoo

In [13]:
print(penguins[(penguins['sex'] == 'Male') & (penguins['flipper_length_mm'] > 210)]['species'].unique())

['Chinstrap' 'Gentoo']

In [14]:
print(sqldf('''SELECT species, MAX(bill_length_mm)
                 FROM penguins 
                GROUP BY species'''))

     species  MAX(bill_length_mm)
0     Adelie                 46.0
1  Chinstrap                 58.0
2     Gentoo                 59.6

In [15]:
print(sqldf('''SELECT bill_length_mm / bill_depth_mm AS length_to_depth
                 FROM penguins
                ORDER BY length_to_depth DESC
                LIMIT 5'''))

   length_to_depth
0         3.612676
1         3.510490
2         3.505882
3         3.492424
4         3.458599

In [16]:
penguins['length_to_depth'] = penguins['bill_length_mm'] / penguins['bill_depth_mm']
print(penguins['length_to_depth'].sort_values(ascending=False, ignore_index=True).head())

0    3.612676
1    3.510490
2    3.505882
3    3.492424
4    3.458599
Name: length_to_depth, dtype: float64

In [17]:
import pandas
df1 = pandas.read_html('https://en.wikipedia.org/wiki/New_York_City')
df1

[    0                                                  1
 0 NaN  This article may be too long to read and navig...,
                                              New York  \
 0                                                City
 1   .mw-parser-output .tmulti .multiimageinner{dis...
 2   .mw-parser-output .ib-settlement-cols{text-ali...
 3   Nicknames:Â The Big Apple, The City That Never ...
 4   .mw-parser-output .mapframe-multi-container>la...
 5   Coordinates: .mw-parser-output .geo-default,.m...
 6                                             Country
 7                                               State
 8                                              Region
 9                     Constituent counties (boroughs)
 10                                            Settled
 11                                       Consolidated
 12                                          Named for
 13                                         Government
 14                                             â€¢Â Type
 15                                             â€¢Â Body
 16                                            â€¢Â Mayor
 17                                            Area[3]
 18                                            â€¢Â Total
 19                                             â€¢Â Land
 20                                            â€¢Â Water
 21                                       Elevation[4]
 22                               PopulationÂ (2020)[5]
 23                                            â€¢Â Total
 24                          â€¢Â EstimateÂ (July 2021)[6]
 25                                             â€¢Â Rank
 26                                          â€¢Â Density
 27                                         â€¢Â Urban[7]
 28                                    â€¢Â UrbanÂ density
 29                                         â€¢Â Metro[8]
 30                                            Demonym
 31                                          Time zone
 32                                     â€¢Â Summer (DST)
 33                                          ZIP Codes
 34                                         Area codes
 35                                          FIPS code
 36                                    GNIS feature ID
 37                                   GDP (City, 2021)
 38                                         GMP (2021)
 39                            Largest borough by area
 40                      Largest borough by population
 41                      Largest borough by GDP (2021)
 42                                            Website

                                            New York.1
 0                                                City
 1   .mw-parser-output .tmulti .multiimageinner{dis...
 2   .mw-parser-output .ib-settlement-cols{text-ali...
 3   Nicknames:Â The Big Apple, The City That Never ...
 4   .mw-parser-output .mapframe-multi-container>la...
 5   Coordinates: .mw-parser-output .geo-default,.m...
 6                                       United States
 7                                            New York
 8                                        Mid-Atlantic
 9   Bronx (The Bronx) Kings (Brooklyn) New York (M...
 10                               1624 (399Â years ago)
 11                               1898 (125Â years ago)
 12                                James, Duke of York
 13                                         Government
 14                               Strong mayorâ€“council
 15                              New York City Council
 16                                     Eric Adams (D)
 17                                            Area[3]
 18                        472.43Â sqÂ mi (1,223.59Â km2)
 19                          300.46Â sqÂ mi (778.18Â km2)
 20                          171.97Â sqÂ mi (445.41Â km2)
 21                                       33Â ft (10Â m)
 22                               PopulationÂ (2020)[5]
 23                                            8804190
 24                                            8467513
 25     1st in the United States 1st in New York State
 26                    29,302.66/sqÂ mi (11,313.81/km2)
 27                                           19426449
 28                        5,980.8/sqÂ mi (2,309.2/km2)
 29                                           20140470
 30                                         New Yorker
 31                                    UTCâˆ’05:00 (EST)
 32                                    UTCâˆ’04:00 (EDT)
 33          100xxâ€“104xx, 11004â€“05, 111xxâ€“114xx, 116xx
 34                      212/646/332, 718/347/929, 917
 35                                           36-51000
 36                                             975772
 37                              $886Â billion[9] (1st)
 38                            $2.0Â trillion (1st)[10]
 39                      Queens (109Â sqÂ mi or 280Â km2)
 40                   Brooklyn (2020 Census 2,736,074)
 41                      Manhattan ($651.6 billion)[9]
 42                                            nyc.gov  ,
                                                    0
 0                                Part of a series on
 1                                Regions of New York
 2  Downstate New York New York City Long Island H...
 3  Upstate New York Hudson Valley (Middle and Upp...
 4  Administrative divisions Counties Cities Towns...
 5  Timelines of town creation Downstate New York ...
 6  .mw-parser-output .navbar{display:inline;font-...,
   .mw-parser-output .navbar-header{text-align:center;position:relative;white-space:nowrap}.mw-parser-output .navbar-header .navbar{position:absolute;right:0;top:0;margin:0 5px}New York City's five boroughsvte  \
                                                                                                                                                                                                     Jurisdiction
                                                                                                                                                                                                          Borough
 0                                          The Bronx
 1                                           Brooklyn
 2                                          Manhattan
 3                                             Queens
 4                                      Staten Island
 5                                   City of New York
 6                                  State of New York
 7  â€  GDP = Gross Domestic Product Sources:[165][1...

                                                       \

                                               County
 0                                              Bronx
 1                                              Kings
 2                                           New York
 3                                             Queens
 4                                           Richmond
 5                                   City of New York
 6                                  State of New York
 7  â€  GDP = Gross Domestic Product Sources:[165][1...

                                                       \
                                           Population
                                       Census  (2020)
 0                                            1472654
 1                                            2736074
 2                                            1694251
 3                                            2405464
 4                                             495747
 5                                            8804190
 6                                           20215751
 7  â€  GDP = Gross Domestic Product Sources:[165][1...

                                                       \
                                            Land area
                                        square  miles
 0                                               42.2
 1                                               69.4
 2                                               22.7
 3                                              108.7
 4                                               57.5
 5                                              302.6
 6                                            47126.4
 7  â€  GDP = Gross Domestic Product Sources:[165][1...

                                                       \

                                            square km
 0                                              109.3
 1                                              179.7
 2                                               58.8
 3                                              281.5
 4                                              148.9
 5                                              783.8
 6                                           122056.8
 7  â€  GDP = Gross Domestic Product Sources:[165][1...

                                                       \
                                Density of population
                                     people/ sq. mile
 0                                              34920
 1                                              39438
 2                                              74781
 3                                              22125
 4                                               8618
 5                                              29095
 6                                                429
 7  â€  GDP = Gross Domestic Product Sources:[165][1...

                                                       \

                                       people/ sq. km
 0                                              13482
 1                                              15227
 2                                              28872
 3                                               8542
 4                                               3327
 5                                              11234
 6                                                166
 7  â€  GDP = Gross Domestic Product Sources:[165][1...

                                                       \
                                                GDP â€
                                billions (2012 US$) 2
 0                                            $38.726
 1                                            $92.300
 2                                           $651.619
 3                                            $88.578
 4                                            $14.806
 5                                           $885.958
 6                                         $1,514.779
 7  â€  GDP = Gross Domestic Product Sources:[165][1...


                                   Unnamed: 8_level_1
                                   Unnamed: 8_level_2
 0                                                NaN
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                                                NaN
 5                                                NaN
 6                                                NaN
 7  â€  GDP = Gross Domestic Product Sources:[165][1...  ,
                                         New York City  \
                           Climate chart (explanation)
 0   J F M A M J J A S O N D  3.6  40 28  3.2  42 3...
 1                                                   J
 2                                          3.6  40 28
 3          â–ˆ Average max. and min. temperatures in Â°F
 4                    â–ˆ Precipitation totals in inches
 5   Metric conversion J F M A M J J A S O N D  91 ...
 6                                   Metric conversion
 7                                                   J
 8                                            91  4 âˆ’2
 9          â–ˆ Average max. and min. temperatures in Â°C
 10                       â–ˆ Precipitation totals in mm

                             Unnamed: 1_level_0  \
                             Unnamed: 1_level_1
 0                                          NaN
 1                                            F
 2                                   3.2  42 30
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            F
 8                                     81  6 âˆ’1
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm

                             Unnamed: 2_level_0  \
                             Unnamed: 2_level_1
 0                                          NaN
 1                                            M
 2                                   4.3  50 36
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            M
 8                                    109  10 2
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm

                             Unnamed: 3_level_0  \
                             Unnamed: 3_level_1
 0                                          NaN
 1                                            A
 2                                   4.1  62 46
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            A
 8                                    104  17 8
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm

                             Unnamed: 4_level_0  \
                             Unnamed: 4_level_1
 0                                          NaN
 1                                            M
 2                                     4  71 55
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            M
 8                                   102  22 13
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm

                             Unnamed: 5_level_0  \
                             Unnamed: 5_level_1
 0                                          NaN
 1                                            J
 2                                   4.5  80 64
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            J
 8                                   114  27 18
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm

                             Unnamed: 6_level_0  \
                             Unnamed: 6_level_1
 0                                          NaN
 1                                            J
 2                                   4.6  85 70
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            J
 8                                   117  29 21
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm

                             Unnamed: 7_level_0  \
                             Unnamed: 7_level_1
 0                                          NaN
 1                                            A
 2                                   4.6  83 69
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            A
 8                                   117  28 21
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm

                             Unnamed: 8_level_0  \
                             Unnamed: 8_level_1
 0                                          NaN
 1                                            S
 2                                   4.3  76 62
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            S
 8                                   109  24 17
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm

                             Unnamed: 9_level_0  \
                             Unnamed: 9_level_1
 0                                          NaN
 1                                            O
 2                                   4.4  65 51
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            O
 8                                   112  18 11
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm

                            Unnamed: 10_level_0  \
                            Unnamed: 10_level_1
 0                                          NaN
 1                                            N
 2                                   3.6  54 42
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            N
 8                                     91  12 6
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm

                            Unnamed: 11_level_0
                            Unnamed: 11_level_1
 0                                          NaN
 1                                            D
 2                                   4.4  44 34
 3   â–ˆ Average max. and min. temperatures in Â°F
 4             â–ˆ Precipitation totals in inches
 5                                          NaN
 6                            Metric conversion
 7                                            D
 8                                     112  7 1
 9   â–ˆ Average max. and min. temperatures in Â°C
 10                â–ˆ Precipitation totals in mm  ,
                                            0   \
 0                                           J
 1                                  3.6  40 28
 2  â–ˆ Average max. and min. temperatures in Â°F
 3            â–ˆ Precipitation totals in inches

                                            1   \
 0                                           F
 1                                  3.2  42 30
 2  â–ˆ Average max. and min. temperatures in Â°F
 3            â–ˆ Precipitation totals in inches

                                            2   \
 0                                           M
 1                                  4.3  50 36
 2  â–ˆ Average max. and min. temperatures in Â°F
 3            â–ˆ Precipitation totals in inches

                                            3   \
 0                                           A
 1                                  4.1  62 46
 2  â–ˆ Average max. and min. temperatures in Â°F
 3            â–ˆ Precipitation totals in inches

                                            4   \
 0                                           M