In [1]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [2]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [3]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [4]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

In [5]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [6]:
thisset = set(("apple", "banana", "cherry"))
print(thisset) #prints in random fashion, since its unordered

{'banana', 'apple', 'cherry'}

In [8]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)  #Loop through the set, and print the values

banana
apple
cherry

In [9]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset) #Check if value is present in the set

True

In [10]:
thisset = {"apple", "banana", "cherry"}
print("mango" in thisset) #Check if value is present in the set

False

In [11]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")   #Add an item to a set, using the add() method
print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

In [12]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)  #update the original set, with the new set
print(thisset)

{'banana', 'mango', 'apple', 'papaya', 'cherry', 'pineapple'}

In [13]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)  # update the original set, with values from list
print(thisset)

{'banana', 'orange', 'apple', 'kiwi', 'cherry'}

In [14]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")  #Remove method, to remove a value
print(thisset)

{'apple', 'cherry'}

In [15]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")  #Remove method, to remove a value
print(thisset)

{'apple', 'cherry'}

In [17]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()   #pop method removes the last value
print(x) #removed item
print(thisset) #the set after removal

banana
{'apple', 'cherry'}

In [18]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()   #clear() method empties the set
print(thisset)

set()

In [19]:
thisset = {"apple", "banana", "cherry"}
del thisset   #delete the set
print(thisset) #this will raise an error because the set no longer exists

NameError: name 'thisset' is not defined

In [20]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)   #Loop through the set, and print the values

banana
apple
cherry

In [21]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)  #Union method to join two sets
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [22]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)   #update method to update the value of 1st by 2nd set
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)  #keep the values that exist in both sets
print(x)

{'apple'}

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)  #Return a set that contains the items that exist in both sets
print(z)

{'apple'}

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)  #Keep the items that are not present in both sets
print(x)

{'banana', 'google', 'cherry', 'microsoft'}

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)  #Return a set that contains all items from both sets
print(z)

{'banana', 'google', 'cherry', 'microsoft'}