mongodb://localhost:27017

In [ ]:
import pymongo

In [ ]:
conn = pymongo.MongoClient()

In [ ]:
db = conn['nashit']

In [ ]:
print(conn.list_database_names())

In [ ]:
a = conn.list_database_names()
for i in a:print(i)

In [ ]:
coll = db['students']

In [ ]:
print(db.list_collection_names())

In [ ]:
a =conn['adit']

In [ ]:
b = a.list_collection_names()
for i in b:print(i)

database -> db
collection -> coll
connection -> conn

In [ ]:
a = conn.list_database_names()
if 'nashit' in a:print('created successfully!')
else:print('unable to create')

In [ ]:
b = db.list_collection_names()
if 'students' in b:print('ok')
else:print('unable to find')

In [ ]:
c = {'name':'Mukesh', 'age':18, 'laptop':True}
coll.insert_one(c)
print('inserted successfully')

In [ ]:
a = conn.list_database_names()
if 'nashit' in a:print('created successfully!')
else:print('unable to create')

In [ ]:
b = db.list_collection_names()
if 'students' in b:print('ok')
else:print('unable to find')

In [ ]:
e = [
    {'name':'Aditya', 'age': 19},
    {'name':'Annapurna', 'age':19},
    {'name': 'Anjali', 'age':19}
    ]
coll.insert_many(e)

In [ ]:
f = {'_id':1, 'name':'Damodar', 'age':20}
coll.insert_one(f)

In [ ]:
g = {'_id':'AD01FY23', 'name':'Peter', 'age':200}
coll.insert_one(g)

In [ ]:
coll.find_one()

In [ ]:
h = coll.find()
print(h)

In [ ]:
coll.find()

In [ ]:
for i in coll.find():print(i)

In [ ]:
for i in coll.find({'age':19}):print(i)

In [ ]:
j = {'age':{'$gt':19}}
for i in coll.find(j):print(i)

In [ ]:
for i in coll.find().sort('age'):print(i)

In [ ]:
for i in coll.find().sort('name', -1):print(i)

In [ ]:
coll.delete_one({'age':200})

OOP - > similar data/values; methods, multiple times

In [1]:
class varia:
    print(5)

a = varia()
a

5

In [2]:
class wel:
    print('Welcome')
a = wel()
a

Welcome

In [3]:
class wel:
    def __init__(self, name):
        print('welcome '+name)

a = wel('Nashit')

welcome Nashit

In [4]:
class suma:
    def __init__(self, a, b):
        print(a+b)
        print(a-b)
        print(a*b)
        print(a/b)
        print(a**b)

obj = suma(5, 8)

13
-3
40
0.625
390625

In [5]:
#Empty Class

class Students:
    pass

#Object
st1 =Students()
st2 = Students()
st3 = Students()

In [6]:
print(st1)

<__main__.Students object at 0x00000244E2977250>

In [7]:
print(st2)

<__main__.Students object at 0x00000244E2975990>

In [8]:
print(st1)

<__main__.Students object at 0x00000244E2977250>

In [9]:
#Attributes assignment
st1.name = 'mukesh'
st1.age = 19
st1.email = 'mk@abc.com'

In [10]:
st1.age

19

In [11]:
st2.age

AttributeError: 'Students' object has no attribute 'age'

In [20]:
class Students:
    def __init__(self, name, age, mail):
        self.name=name
        self.age = age
        self.email = mail
        
st1 = Students('ashish', 19, 'ashish@gmail.com')
print(st1.email)

ashish@gmail.com

In [21]:
#objects are instances of classes
#ranjitkajraitha@gmail.com

In [57]:
class Students:
    def __init__(self, first, last, age, city, stipend):
        self.first =first
        self.last = last
        self.age=age
        self.city=city
        self.stipend = stipend
        self.mail = first+city+'@gmail.com'
        self.increment = 0.05*stipend+stipend
    
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def stip(self):
        return 0.05*self.stipend

st1 = Students('Ranjit', 'Kumar', 19, 'Kajraitha', 12000)
st2 = Students('Shrey', 'Kumar', 20, 'Patna', 16000)

In [58]:
st1.mail

'RanjitKajraitha@gmail.com'

In [59]:
st2.mail

'ShreyPatna@gmail.com'

In [60]:
st1.increment

12600.0

In [61]:
Students.fullname(st1)

'Ranjit Kumar'

In [62]:
Students.fullname(st2)

'Shrey Kumar'

In [63]:
Students.stip(st1)

600.0

In [64]:
Students.stip(st2)

800.0

In [65]:
st2.fullname()

'Shrey Kumar'

In [67]:
st1.stip()

600.0

In [86]:
class NSTI:
    def __init__(self, city):
        self.city=city
    def hello(self):
        return 'welcome to {}'.format(self.city)
    
class CITS(NSTI):
    def __init__(self, dept,city):
        self.dept = dept
        self.city=city
    def wel(self):
        return 'you are admitted to {}'.format(self.dept)

In [87]:
n1 = NSTI('Patna')
n1.hello()

'welcome to Patna'

In [88]:
c1 = CITS('COPA', 'Allahabad')

In [89]:
c1.wel()

'you are admitted to COPA'

In [90]:
c1.hello()

'welcome to Allahabad'

In [100]:
type({8, 5})

set

In [110]:
class ADIT:
    def subj(self):
        print('[HTML, CSS, JS, PHP]')
    def loc(self):
        print('[ALD, KNP, DDN, PAT]')

class COPA:
    def subj(self):
        print('[HTML, CSS, Network]')
    def loc(self):
        print('[MUM, HYD, NOI]')
        
        
stu = ADIT()
stu1 = COPA()

In [111]:
stu.subj()
stu1.subj()

[HTML, CSS, JS, PHP]
[HTML, CSS, Network]