In [15]:
#Previous data
import pandas
df = pandas.read_csv('plot.csv')
x = df.drop('rate', axis='columns')
y = df['rate']

In [14]:
#Machine Learning Algorithm
from sklearn import linear_model
reg = linear_model.LinearRegression()

In [7]:
#Training & learning from previous data
reg.fit(x, y)

LinearRegression()

In [9]:
#Logical Model
reg.coef_

array([87.85714286])

In [10]:
reg.intercept_

39464.28571428571

In [11]:
#New data to get output
reg.predict([[654]])

C:\Users\s_nas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([96922.85714286])

In [16]:
df

    size          rate
0    100   50000.00000
1    150   52000.00000
2    200   56000.00000
3    250   61000.00000
4    300   65000.00000
5    350   70000.00000
6    400   76000.00000
7    450   79000.00000
8    500   83392.85714
9    550   87785.71429
10   600   92178.57143
11   650   96571.42857
12   700  100964.28570

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [19]:
x_train

    size
8    500
12   700
4    300
6    400
5    350
0    100
11   650
10   600
3    250

In [20]:
x_test

   size
9   550
1   150
2   200
7   450

In [21]:
import pandas as pd
# series -> 1D
#Dataframe -> 2D
#Panel -> multidimensions
x = [6, 7, 3, 9]
type(x)

list

In [23]:
x

[6, 7, 3, 9]

In [ ]:
#series - 1d
#df - 2d
#numpy -> high level mathematics
#pandas -> process, analyse