In [8]:
import pandas as xyz
a = xyz.read_csv('Sales.csv')
print(a)

    Apple  Samsung  Nokia  Vivo    Oppo     Mi  Sony
0    2358     8732   3123   8068   7263  19466  2408
1    3627     8058   3550  10310  10447  20664  2390
2    2295     5913   4401   8891   8140  11837  1666
3    4562     9620   4729  14279   5835  20566  2141
4    2452    10710   4970  16961  10633  21048  1255
5    2459     8670   3531  14032  11483  19791  1188
6    2935     5024   3004  17975  10631  20971  1119
7    3861    11458   4813  10223   7723  17926  2223
8    3350     5083   4523  16774   6174  13869  2135
9    3065    11973   4305  12210   8544  22666  1315
10   3529     9251   3396  17384  10383  12589  1141
11   3478     9294   4993   8795  11032  10020  2210
12   5994     9783   4999  10570   6221  20905  1524
13   3733     6566   4399  16970   8263  17635  2008
14   4472    11017   4692  17755   8604  18201  2397
15   4724     7591   4548   8533   8999  19476  1654
16   2160    11412   3060  10093  11895  15487  2289
17   3679    10708   3161  16402   7784  11751  1404
18   3176     5375   3324  11214   9709  15899  1988
19   3175     7524   4788  13125   9669  16844  1992
20   5730     9129   3381   9174   7850  12733  1188
21   4543     8809   4341  13649   9091  24442  2371
22   2511     6937   3593  16234   8833  13809  1117
23   5186     9945   4757  10319   7589  12709  2134
24   2278    10017   3818  10822   7918  17226  1570

In [4]:
print(a.head())

   Apple  Samsung  Nokia  Vivo    Oppo     Mi  Sony
0   2358     8732   3123   8068   7263  19466  2408
1   3627     8058   3550  10310  10447  20664  2390
2   2295     5913   4401   8891   8140  11837  1666
3   4562     9620   4729  14279   5835  20566  2141
4   2452    10710   4970  16961  10633  21048  1255

In [5]:
print(a.head(1))

   Apple  Samsung  Nokia  Vivo   Oppo     Mi  Sony
0   2358     8732   3123   8068  7263  19466  2408

In [6]:
print(a.head(0))

Empty DataFrame
Columns: [Apple, Samsung, Nokia, Vivo , Oppo, Mi, Sony]
Index: []

In [7]:
print(a.head(6))

   Apple  Samsung  Nokia  Vivo    Oppo     Mi  Sony
0   2358     8732   3123   8068   7263  19466  2408
1   3627     8058   3550  10310  10447  20664  2390
2   2295     5913   4401   8891   8140  11837  1666
3   4562     9620   4729  14279   5835  20566  2141
4   2452    10710   4970  16961  10633  21048  1255
5   2459     8670   3531  14032  11483  19791  1188

In [9]:
print(a.tail())

    Apple  Samsung  Nokia  Vivo   Oppo     Mi  Sony
20   5730     9129   3381   9174  7850  12733  1188
21   4543     8809   4341  13649  9091  24442  2371
22   2511     6937   3593  16234  8833  13809  1117
23   5186     9945   4757  10319  7589  12709  2134
24   2278    10017   3818  10822  7918  17226  1570

In [10]:
print(a.tail(0))

Empty DataFrame
Columns: [Apple, Samsung, Nokia, Vivo , Oppo, Mi, Sony]
Index: []

In [11]:
print(a.tail(1))

    Apple  Samsung  Nokia  Vivo   Oppo     Mi  Sony
24   2278    10017   3818  10822  7918  17226  1570

In [12]:
print(a.tail(25))

    Apple  Samsung  Nokia  Vivo    Oppo     Mi  Sony
0    2358     8732   3123   8068   7263  19466  2408
1    3627     8058   3550  10310  10447  20664  2390
2    2295     5913   4401   8891   8140  11837  1666
3    4562     9620   4729  14279   5835  20566  2141
4    2452    10710   4970  16961  10633  21048  1255
5    2459     8670   3531  14032  11483  19791  1188
6    2935     5024   3004  17975  10631  20971  1119
7    3861    11458   4813  10223   7723  17926  2223
8    3350     5083   4523  16774   6174  13869  2135
9    3065    11973   4305  12210   8544  22666  1315
10   3529     9251   3396  17384  10383  12589  1141
11   3478     9294   4993   8795  11032  10020  2210
12   5994     9783   4999  10570   6221  20905  1524
13   3733     6566   4399  16970   8263  17635  2008
14   4472    11017   4692  17755   8604  18201  2397
15   4724     7591   4548   8533   8999  19476  1654
16   2160    11412   3060  10093  11895  15487  2289
17   3679    10708   3161  16402   7784  11751  1404
18   3176     5375   3324  11214   9709  15899  1988
19   3175     7524   4788  13125   9669  16844  1992
20   5730     9129   3381   9174   7850  12733  1188
21   4543     8809   4341  13649   9091  24442  2371
22   2511     6937   3593  16234   8833  13809  1117
23   5186     9945   4757  10319   7589  12709  2134
24   2278    10017   3818  10822   7918  17226  1570

In [13]:
print(a.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Apple    25 non-null     int64
 1   Samsung  25 non-null     int64
 2   Nokia    25 non-null     int64
 3   Vivo     25 non-null     int64
 4   Oppo     25 non-null     int64
 5   Mi       25 non-null     int64
 6   Sony     25 non-null     int64
dtypes: int64(7)
memory usage: 1.5 KB
None

In [14]:
print(a.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Apple    25 non-null     int64
 1   Samsung  25 non-null     int64
 2   Nokia    25 non-null     int64
 3   Vivo     25 non-null     int64
 4   Oppo     25 non-null     int64
 5   Mi       25 non-null     int64
 6   Sony     25 non-null     int64
dtypes: int64(7)
memory usage: 1.5 KB
None