In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
a = {'Name': ['Pallavi', 'Paridhi', 'Parvati', 'Radha'], 'Subjects':['AI', 'Data Analysis', 'Full Stack', 'Data Science'], 'Marks': [80, 85, 86, 84], 'Month': [5, 7, 8, 4], 'Year': [2021, 2021, 2021, 2021]}

b = pd.DataFrame(a)

print(b)

      Name       Subjects  Marks  Month  Year
0  Pallavi             AI     80      5  2021
1  Paridhi  Data Analysis     85      7  2021
2  Parvati     Full Stack     86      8  2021
3    Radha   Data Science     84      4  2021

In [7]:
import pandas
a = {'Name': ['Pallavi', 'Paridhi', 'Parvati', 'Radha'], 'Subjects':['AI', 'Data Analysis', 'Full Stack', 'Data Science'], 'Marks': [80, 85, 86, 84]}

c = pandas.DataFrame(a)

print(c)

      Name       Subjects  Marks
0  Pallavi             AI     80
1  Paridhi  Data Analysis     85
2  Parvati     Full Stack     86
3    Radha   Data Science     84

In [26]:
import pandas
a = {'Name': ['Pallavi', 'Paridhi', 'Parvati', 'Radha'], 'Subjects':['AI', 'Data Analysis', 'Full Stack', 'Data Science'], 'Marks': [80, 85, 86, 84]}

b = pandas.DataFrame(a)


print(b.loc[2])

Name           Parvati
Subjects    Full Stack
Marks               86
Name: 2, dtype: object

In [15]:
import pandas
a = ['Pallavi', 'Paridhi', 'Parvati', 'Radha']

b = ['AI', 'Data Analysis', 'Full Stack', 'Data Science']


print(pandas.Series(a))

0    Pallavi
1    Paridhi
2    Parvati
3      Radha
dtype: object

In [14]:
import pandas as pd

d = [80, 85, 86, 84]

print(pd.Series(d))

0    80
1    85
2    86
3    84
dtype: int64

In [25]:
import pandas as pd

d = (80, 85, 86, 84)


print(pd.Series(d, index= ['#', '%', '&', '@']))

#    80
%    85
&    86
@    84
dtype: int64

In [23]:
import pandas as pd

sales = {'Apple': 4500, 'MI': 8900, 'Samsung':6123, 'Nokia':2304}

print(pd.Series(sales))    #positive / neg+pos  #LIST[], SET{}, TUPLE(), Dict{}

Apple      4500
MI         8900
Samsung    6123
Nokia      2304
dtype: int64

AttributeError: 'dict' object has no attribute 'loc'

In [41]:
import pandas
a = {'Name': ['Pallavi', 'Paridhi', 'Parvati', 'Radha'], 'Subjects':['AI', 'Data Analysis', 'Full Stack', 'Data Science'], 'Marks': [80, 85, 86, 84], 'Month': [5, 7, 8, 4], 'Year': [2021, 2021, 2021, 2021]}

b = pandas.DataFrame(a)

print(b.loc[[3,1]])

      Name       Subjects  Marks  Month  Year
3    Radha   Data Science     84      4  2021
1  Paridhi  Data Analysis     85      7  2021

In [42]:
import pandas as pd

a = pd.read_csv('ABCD.csv')
print(a)

  Name      Phone
0  AAA   23232323
1   BB      55555
2   CC  554184521
3   DD    5585615

In [43]:
import pandas as pd

a = pd.read_csv('Participants.csv')
print(a)

    Training No Training Dates  Actual Participants
0    Training 1      Dec 12-13                   37
1    Training 2      Dec 19-20                   43
2    Training 3      Dec 26-27                   32
3    Training 4      Jan 06-07                   12
4    Training 5      Jan 09-10                   42
5    Training 6      Jan 21-22                   31
6    Training 7      jan 27-28                   23
7    Training 8      Feb 06-07                   13
8    Training 9      Feb 09-10                    9
9   Training 10      Feb 12-13                   12
10  Training 11      Feb 25-26                   10
11  Training 12       Mar03-04                   22
12  Training 13      Mar 12-13                   23